* {
  margin: 0;
}

.container {
  width: 320px;
  margin: 35px auto;
}

.author {
  opacity: 0.2;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.restart {
  display: none;
}

img {
  padding: 20px 0;
}

.title-img {
  display: block;
  margin: 0 auto;
  width: 260px;
  border-radius: 50px;
}

.title-img2 {
  width: 300px;
  border-radius: 10px;
  display: none;
}

.title-img3 {
  width: 300px;
  border-radius: 20px;
  display: none;
}

.title,
.title-bottom {
  font-size: 25px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(190, 73, 73);
}

.title-bottom {
  text-align: center;
}
.name {
  color: black;
  font-size: 25px;
  font-style: italic;
  font-weight: 700;
  font-family: cursive;
  text-align: center;
}

.instruction {
  padding: 20px 15px;
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: none;
}

.wrap {
  display: flex;
}

.back {
  display: none;
}

.health {
  text-align: center;
  display: none;
}

.health__text {
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.health__num {
  color: red;
  font-size: 18px;
}

.start2 {
  display: none;
}

.quest1,
.quest2,
.quest3,
.quest4,
.quest5 {
  padding: 20px 15px;
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: none;
}

.qu1 {
  display: none;
}

.qu2,
.quest2 {
  display: none;
}

.qu3,
.quest3 {
  display: none;
}

.img3 {
  margin: 0 auto;
  width: 300px;
  border-radius: 20px;
  display: none;
}

.qu4,
.quest4 {
  display: none;
}

.qu5,
.quest5 {
  display: none;
}

.btn {
  margin: 20px auto;
  text-align: center;
  width: 150px;
  height: 50px;
  color: floralwhite;
  font-size: 18px;
  font-weight: 700;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 10px;
  background-color: indianred;
  border: 2px solid black;
}
